#-------------------------------------------------------------------------------------
# Model DynamicData HSAF SoilMoisture H14 Raw - Configuration DataDynamic
# Version 4.0.0 (20161005)
#
# FileName:
# 20120101-20130123 ==> H14_$yyyy$mm$dd$HH.grib
# 20130124-Now		==> history: h14_$yyyy$mm$dd_$HH00.grib realtime: S-HSAF-h14_20160930_0000.grib.bz2
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 
	'GRIB'	: {
		'SM_Value_Layer1': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'soil wetness index in layer 1 - vertical below surface 0-7 cm',
                'standard_name' : 'soil_wetness_index_in_layer_1',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '-',
                'pressure_level': '',
						    },
			'VarSource' 	: 'S-HSAF-h14_$yyyy$mm$dd_$HH00.grib', 
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'Soil_wetness_index_in_layer_1_surface', 'Index_1': 1},                                                                                    
										'OUT': {'Var_1' : 'SM_Value_Layer1'}, 
									},	               
					'Zip'			: 'bz2',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,1',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : 'computeVarSM_Lev1', 'Comp' : {'Var_1' : 'SM_Value_Layer1',},},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 
   
		'SM_Value_Layer2': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'soil wetness index in layer 2 - vertical below surface 7-28 cm',
                'standard_name' : 'soil_wetness_index_in_layer_2_surface',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '-',
                'pressure_level': '',
						    },
			'VarSource' 	: 'S-HSAF-h14_$yyyy$mm$dd_$HH00.grib', 
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'Soil_wetness_index_in_layer_2_surface', 'Index_1': 2},                                                                                      
										'OUT': {'Var_1' : 'SM_Value_Layer2'}, 
									},	               
					'Zip'			: 'bz2',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,1',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : 'computeVarSM_Lev2', 'Comp' : {'Var_1' : 'SM_Value_Layer1', 'Var_2' : 'SM_Value_Layer2',},},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''}, 
		                        },
                        },
		    		},	

		'SM_Value_Layer3': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'soil wetness index in layer 3 - vertical below surface 28-100 cm',
                'standard_name' : 'soil_wetness_index_in_layer_3_surface',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '-',
                'pressure_level': '',
						    },
			'VarSource' 	: 'S-HSAF-h14_$yyyy$mm$dd_$HH00.grib', 
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'Soil_wetness_index_in_layer_3_surface', 'Index_1': 3},                                                                                   
										'OUT': {'Var_1' : 'SM_Value_Layer3'}, 
									},	               
					'Zip'			: 'bz2',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,1',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : 'computeVarSM_Lev3', 'Comp' : {'Var_1' : 'SM_Value_Layer1', 'Var_2' : 'SM_Value_Layer2', 'Var_3' : 'SM_Value_Layer3',},},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''}, 
		                        },
                        },
		    		},	

		'SM_Value_Layer4': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'soil wetness index in layer 4 - vertical below surface 100-289 cm',
                'standard_name' : 'soil_wetness_index_in_layer_4_surface',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '-',
                'pressure_level': '',
						    },
			'VarSource' 	: 'S-HSAF-h14_$yyyy$mm$dd_$HH00.grib', 
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'Soil_wetness_index_in_layer_4_surface', 'Index_1': 4},                                                                                   
										'OUT': {'Var_1' : 'SM_Value_Layer4'}, 
									},	               
					'Zip'			: 'bz2',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,1',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : 'computeVarSM_Lev4', 'Comp' : {'Var_1' : 'SM_Value_Layer1', 'Var_2' : 'SM_Value_Layer2', 'Var_3' : 'SM_Value_Layer3', 'Var_4' : 'SM_Value_Layer4',},},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''}, 
		                        },
                        },
		    		},	

                },
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic = {  
	'NetCDF'	: {
        'SM_Value_Layer1': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'soil wetness below surface 0-7 cm',
                'standard_name' : 'soil_wetness_surface_0_7',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Value_Layer2': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'soil wetness below surface 0-28 cm',
                'standard_name' : 'soil_wetness_surface_0_28',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Value_Layer3': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'soil wetness below surface 0-100 cm',
                'standard_name' : 'soil_wetness_surface_0_100',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '','Computation'	: {'Func' : ''},
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

         'Longitude': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'longitude coordinate',
                'standard_name' : 'longitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_east',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				      
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },        

     	'Latitude'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'latitude coordinate',
                'standard_name' : 'latitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_north',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},					        
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },   

 		'Terrain'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'geometric height',
                'standard_name' : 'altitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'm',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                            },
                        },  

					},
}                
#-------------------------------------------------------------------------------------	
