#-------------------------------------------------------------------------------------
# Model DynamicData HSAF SoilMoisture H14 Raw - Configuration DataStatic
# Version 4.0.0 (20161005)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic = { 
     'ASCII'     : {
        'Terrain'   : {
        	'VarType'	: 'Grid',
	        'VarTimeStep'	: 0,
	        'VarAttributes'	: {
		        'long_name' 	: '',
		        'standard_name' : '',
		        'grid_mapping' 	: '',
		        'coordinates' 	: '',
		        'cell_method' 	: '',
		        'units' 		: '-',
		        'pressure_level': '',
			       	},
	        'VarSource'	: 'Mask_Italy_latlon_0.033.txt',
	        'VarDims'	: {'X': '', 'Y': ''},
	        'VarOp'		: {	
    			'Op_GetEx'	: {	
						'Func' 		: 	'',
						'Name'		:	'',
						'Comp'		:	{},
						'Zip'		:	'',
						'ScaleFactor'	:	1,
						'Format'	:	'',
		                        },
        		'Op_Load'       : {	
						'Func' 		: 	'ArcGrid',
						'Name'		:	'',
						'Comp'		:	'',
						'Zip'		:	'nzip',
						'ScaleFactor'	:	1,
						'Format'	:	'',
		                        },
            	'Op_Save'       : {	
						'Func' 		: 	'',
						'Name'		:	'',
						'Comp'		:	{},
						'Zip'		:	'',
						'ScaleFactor'	:	'',
						'Format'	:	'',
		                        },
            	'Op_Math'       : {	
						'Interpolation' : 	'',
						'Conversion'	:	'',
						'Disaggregation':	'',
						'Aggregation'	:	'',
            	            	},
                        	},
		  			},	
	  			},
}	
#-------------------------------------------------------------------------------------
