#-------------------------------------------------------------------------------------
# Model DynamicData HSAF SoilMoisture H14 Star Stats - Configuration DataDynamic
# Version 4.0.0 (20161013)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 
	'NetCDF'	: {

		'SM_Star_Layer1'	: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'normalized soil wetness index below surface 0-7 cm',
                'standard_name' : 'normalized_soil_wetness_index_surface_0_7',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SM_H14_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SM_Star_Layer1', 
												'Time_1': {'TimeFrom' : '201201010000', 'TimeTo' : '', 'TimeDelta': 86400},
											},                                                                                    
										'OUT': {'Var_1' : 'SM_Mean_Layer1',	
												'Var_2'	: 'SM_StDev_Layer1', 	
												'Var_3'	: 'SM_Min_Layer1', 	
												'Var_4'	: 'SM_Max_Layer1', 	
												}, 
									},	               
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : { 'Var_1'	: 'computeVarMean',
												  'Var_2'	: 'computeVarStDev',
												  'Var_3'	: 'computeVarMin',
												  'Var_4'	: 'computeVarMax',
											},
									},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 

		'SM_Star_Layer2'	: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'normalized soil wetness below surface 0-28 cm',
                'standard_name' : 'normalized_soil_wetness_surface_0_28',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SM_H14_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SM_Star_Layer2', 
												'Time_1': {'TimeFrom' : '201201010000', 'TimeTo' : '', 'TimeDelta': 86400},
											},                                                                                       
										'OUT': {'Var_1' : 'SM_Mean_Layer2',	
												'Var_2'	: 'SM_StDev_Layer2', 	
												'Var_3'	: 'SM_Min_Layer2', 	
												'Var_4'	: 'SM_Max_Layer2', 	
												}, 
									},	               
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : { 'Var_1'	: 'computeVarMean',
												  'Var_2'	: 'computeVarStDev',
												  'Var_3'	: 'computeVarMin',
												  'Var_4'	: 'computeVarMax',
											},
									},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 

		'SM_Star_Layer3'	: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'normalized soil wetness below surface 0-100 cm',
                'standard_name' : 'normalized_soil_wetness_surface_0_100',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SM_H14_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SM_Star_Layer3', 
												'Time_1': {'TimeFrom' : '201201010000', 'TimeTo' : '', 'TimeDelta': 86400},
											},                                                                                       
										'OUT': {'Var_1' : 'SM_Mean_Layer3',	
												'Var_2'	: 'SM_StDev_Layer3', 	
												'Var_3'	: 'SM_Min_Layer3', 	
												'Var_4'	: 'SM_Max_Layer3', 	
												}, 
									},	               
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarINDtoPERC'},
					'Computation'	: {'Func' : { 'Var_1'	: 'computeVarMean',
												  'Var_2'	: 'computeVarStDev',
												  'Var_3'	: 'computeVarMin',
												  'Var_4'	: 'computeVarMax',
											},
									},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 

                },
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic = {  
	'NetCDF'	: {
		
        'SM_Mean_Layer1'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'mean of normalized soil wetness below surface 0-7 cm',
                'standard_name' : 'mean_normalized_soil_wetness_surface_0_7',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_StDev_Layer1'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'standard deviation of normalized soil wetness below surface 0-7 cm',
                'standard_name' : 'stdev_normalized_soil_wetness_surface_0_7',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Min_Layer1'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'minimum of normalized soil wetness below surface 0-7 cm',
                'standard_name' : 'min_normalized_soil_wetness_surface_0_7',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Max_Layer1'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'maximum of normalized soil wetness below surface 0-7 cm',
                'standard_name' : 'max_normalized_soil_wetness_surface_0_7',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Mean_Layer2'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'mean of normalized soil wetness below surface 0-28 cm',
                'standard_name' : 'mean_normalized_soil_wetness_surface_0_28',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_StDev_Layer2'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'standard deviation of normalized soil wetness below surface 0-28 cm',
                'standard_name' : 'stdev_normalized_soil_wetness_surface_0_28',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Min_Layer2'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'minimum of normalized soil wetness below surface 0-28 cm',
                'standard_name' : 'min_normalized_soil_wetness_surface_0_28',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Max_Layer2'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'maximum of normalized soil wetness below surface 0-28 cm',
                'standard_name' : 'max_normalized_soil_wetness_surface_0_28',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Mean_Layer3'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'mean of normalized soil wetness below surface 0-100 cm',
                'standard_name' : 'mean_normalized_soil_wetness_surface_0_100',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_StDev_Layer3'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'standard deviation of normalized soil wetness below surface 0-100 cm',
                'standard_name' : 'stdev_normalized_soil_wetness_surface_0_100',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Min_Layer3'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'minimum of normalized soil wetness below surface 0-100 cm',
                'standard_name' : 'min_normalized_soil_wetness_surface_0_100',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Max_Layer3'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'maximum of normalized soil wetness below surface 0-100 cm',
                'standard_name' : 'max_normalized_soil_wetness_surface_0_100',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,100',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

         'Longitude': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'longitude coordinate',
                'standard_name' : 'longitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_east',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				      
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },        

     	'Latitude'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'latitude coordinate',
                'standard_name' : 'latitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_north',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				        
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },   

 		'Terrain'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'geometric height',
                'standard_name' : 'altitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'm',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H14_STAR_STATS_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                            },
                        },  


			},
}                
#-------------------------------------------------------------------------------------	

