#-------------------------------------------------------------------------------------
# Model DynamicData HSAF SoilMoisture H14 Star - Configuration Algorithm
# Version 4.0.0 (20161005)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
	'DataStatic'		: '/home/gabellani/HSAF_Data_Processing/Data_Static/Database_GIS/Italy/Raster/',
	'DataDynamicSource'	: '/home/gabellani/HSAF_Data_Processing/Data_TimeDip/Outcome_Italy/$yyyy/$mm/$dd/',  # Tags: $yyyy, $mm, $dd
	'DataDynamicOutcome': '/home/gabellani/HSAF_Data_Processing/Data_TimeDip/Outcome_Italy/$yyyy/$mm/$dd/',	# Tags: $yyyy, $mm, $dd
	'DataAncillary'		: '/home/gabellani/HSAF_Data_Processing/Data_Static/Database_Stats/Italy/',
	'DataCache'			: '/home/gabellani/HSAF_Data_Processing/Cache/H14/',			# Tags: $yyyy, $mm, $dd
	'DataTemp'			: '/home/gabellani/HSAF_Data_Processing/Temp/H14/',
	'Library' 			: '',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
	'Conventions' 		: 'CF-1.6',
	'title' 			: 'Model DynamicData HSAF SoilMoisture H14 Star Pre-Processing',
	'institution' 		: 'CIMA Research Foundation - www.cimafoundation.org',
	'web-site' 			: 'http://hsaf.meteoam.it/',
	'source' 			: 'Model DynamicData HSAF SoilMoisture H14 Star',
	'history'			: 'Python Module - Model DynamicData HSAF SoilMoisture H14 Star in NetCDF format for HSAF data',
	'references'		: 'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
	'comment'			: 'Author(s): Fabio Delogu ; Simone Gabellani',
	'email'				: 'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org',
	'project-info'		: 'HSAF Project',
	'algorithm'			: 'Model DynamicData HSAF SoilMoisture H14 Star - Version 4.0.0 (20161005)',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
	'DomainName' 		: 'italy', 			# string
	'TimeNow'			: '', 				# format yyyymmddHHMM (undefined == '' for op chain)
	'TimeStep'			: 86400, 			# seconds
	'TimePeriod'		: 10,				# ntimes per timestep data processing (min value == 1)
	'TimeUpd'			: 10,				# ntimes per timestep data re-processing (min value == 1)
	'TimeWorldRef'  	: {'TimeType'	: 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype

	'FileConfigStatic'	: '/home/gabellani/HSAF_Data_Processing/Product_SoilMoisture/H14/config_variables/model_dynamicdata_hsaf-sm-h14-star_varstatic.config',
	'FileConfigDynamic'	: '/home/gabellani/HSAF_Data_Processing/Product_SoilMoisture/H14/config_variables/model_dynamicdata_hsaf-sm-h14-star_vardynamic.config',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
	'epsg_code' 					: 4326,
	'grid_mapping_name' 			: 'latitude_longitude',
	'longitude_of_prime_meridian' 	: 0.0,
	'semi_major_axis' 				: 6378137.0,
	'inverse_flattening' 			: 298.257223563,
 }
#-------------------------------------------------------------------------------------

