#-------------------------------------------------------------------------------------
# Satellite DynamicData HSAF SoilMoisture H16 Raw - Configuration DataDynamic
# Version 4.0.1 (20161007)
# FileName:
# 20090603-20130424 ==> FTP_HSAF	==>	h07_$yyyy$mm$dd_$HH$MM$SS_metopa_ZZZZZ_EUM.buf ==> h07_$yyyy$mm$dd_*[0-9]_metopa_*[0-9]_EUM.buf
#										H07 - Large scale surface soil moisture by radar scatterometer (Metop-A ASCAT)
#										H07 - Large scale surface quality soil moisture by radar scatterometer (Metop-A ASCAT)
#										H07 - Large scale surface indextile soil moisture by radar scatterometer (Metop-A ASCAT)
# 20130425-20140630 ==> FTP_HSAF	==>	h07_$yyyy$mm$dd_$HH$MM$SS_METOPB_ZZZZZ_EUM.buf ==> h07_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf
#										H07 - Large scale surface soil moisture by radar scatterometer (Metop-B ASCAT)
#										H07 - Large scale surface quality soil moisture by radar scatterometer (Metop-B ASCAT)
#										H07 - Large scale surface indextile soil moisture by radar scatterometer (Metop-B ASCAT)
# 20140701-20150630 ==> EOPORTAL	==> M01-ASCA-ASCSMR02-NA-3.2-$yyy$mm$dd$HH$MM$SS.000000000Z-$yyy$mm$dd$HH$MM$SS-XXXXXXX-Y.bfr.gz ==> M01-ASCA-ASCSMR02-NA-3.2-$yyyy$mm$dd*[0-9].000000000Z-$yyyy$mm$dd*[0-9]-*[0-9]-*[0-9].bfr.gz
#										EOPORTAL - Soil Moisture at 25 km Swath Grid - Metop-B ASCAT
#										EOPORTAL - Quality Soil Moisture at 25 km Swath Grid - Metop-B ASCAT
#										EOPORTAL - IndexTile Soil Moisture at 25 km Swath Grid - Metop-B ASCAT
# 20150701-20160630 ==> FTP_HSAF	==>	h07_$yyyy$mm$dd_$HH$MM$SS_METOPB_ZZZZZ_EUM.buf ==> h07_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf
#										H07 - Large scale surface soil moisture by radar scatterometer (Metop-B ASCAT)
#										H07 - Large scale surface quality soil moisture by radar scatterometer (Metop-B ASCAT)
#										H07 - Large scale surface indextile soil moisture by radar scatterometer (Metop-B ASCAT)
# 20160701-........	==> FTP_HSAF	==> h16_$yyyy$mm$dd_$HH$MM$SS_METOPB_ZZZZZ_EUM.buf ==> h16_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf
#										H16 - SSM Value ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT
#										H16 - SSM Quality ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT
#										H16 - SSM IndexTile ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 
	'BUFR'	: {
		'SM_Value_Surface'	: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 43200,
            'VarAttributes'	: {
                'long_name' 	: 'H16 - SSM Value ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT',
                'standard_name' : 'moisture_content_of_soil_layer',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'h16_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SURFACE SOIL MOISTURE (MS)'},                                                                                    
										'OUT': {'Var_1' : 'SM_Value_Surface'}, 
									},	               
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarPointNN', 'XRad' : 0.25, 'YRad' : 0.25 },           
					'Conversion'	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 
   
		'SM_Quality_Surface': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 43200,
            'VarAttributes'	: {
                'long_name' 	: 'H16 - SSM Quality ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT',
                'standard_name' : 'quality_moisture_content_of_soil_layer',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '-',
                'pressure_level': '',
						    },
			'VarSource' 	: 'h16_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SOIL MOISTURE QUALITY'},                                                                                    
										'OUT': {'Var_1' : 'SM_Quality_Surface'}, 
									},	               
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,255',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarPointNN', 'XRad' : 0.25, 'YRad' : 0.25 },         
					'Conversion'	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},		
		'Longitude': { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 43200,
            'VarAttributes'	: {
                'long_name' 	: 'longitude coordinate',
                'standard_name' : 'longitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_east',
                'pressure_level': '',
						    },
			'VarSource' 	: 'h16_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'LONGITUDE (HIGH ACCURACY)'},                                                                                    
										'OUT': {'Var_1' : 'Longitude'}, 
									},	               
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : ''},         
					'Conversion'	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},		
		'Latitude'	: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 43200,
            'VarAttributes'	: {
                'long_name' 	: 'latitude coordinate',
                'standard_name' : 'latitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_north',
                'pressure_level': '',
						    },
			'VarSource' 	: 'h16_$yyyy$mm$dd_*[0-9]_METOPB_*[0-9]_EUM.buf',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'LATITUDE (HIGH ACCURACY)'},                                                                                    
										'OUT': {'Var_1' : 'Latitude'}, 
									},	               
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : ''},         
					'Conversion'	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
					'Disaggregation': {'Func' : ''}, 														
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	
                },
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic = {  
	'NetCDF'	: {
        'SM_Value_Surface'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 43200,
		    'VarAttributes'	: {
                'long_name' 	: 'H16 - SSM Value ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT',
                'standard_name' : 'moisture_content_of_soil_layer',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '%',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_Quality_Surface': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 43200,
		    'VarAttributes'	: {
                'long_name' 	: 'H16 - SSM Quality ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT',
                'standard_name' : 'quality_moisture_content_of_soil_layer',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '-',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				        
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SM_FileIndex': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 43200,
		    'VarAttributes'	: {
                'long_name' 	: 'H16 - SSM IndexTile ASCAT-B NRT O : Metop-B ASCAT soil moisture 12.5 km sampling NRT',
                'standard_name' : 'indextile_moisture_content_of_soil_layer',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '-',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'i4',
		            'Missing_value' : -9999,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},					        
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

         'Longitude': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'longitude coordinate',
                'standard_name' : 'longitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_east',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				      
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },        

     	'Latitude'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'latitude coordinate',
                'standard_name' : 'latitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_north',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},	
					'Computation'	: {'Func' : ''},				        
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },   

 		'Terrain'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'geometric height',
                'standard_name' : 'altitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'm',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SM_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
					'Computation'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
		                        },
                            },
                        },  
					},
}                
#-------------------------------------------------------------------------------------	
