#-------------------------------------------------------------------------------------
# Satellite DynamicData HSAF SWI H16 Star - Configuration DataDynamic
# Version 4.0.0 (20160623)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 
	'NetCDF'	: {

		'SWI_Value_T06'		: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Soil Water Index filtering on a 6 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'soil_water_index_06_days',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SWI_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SWI_Value_T06'},                                                                                    
										'OUT': {'Var_1' : 'SWI_Star_T06'}, 
									},	     
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarPERCtoIND'},
					'Disaggregation': {'Func' : ''}, 														
					'Computation'	: {'Func' : 'computeVarLinScale',
									   'Comp' : {'Var_1' : 'SWI_StDev_T06', 'Var_2' : 'SWI_Mean_T06', 'Var_3' : 'SM_StDev_Layer1', 'Var_4' : 'SM_Mean_Layer1',},									
									},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	 

		'SWI_Value_T12'		: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Soil Water Index filtering on a 12 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'soil_water_index_12_days',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SWI_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SWI_Value_T12'},                                                                                    
										'OUT': {'Var_1' : 'SWI_Star_T12'}, 
									},	     
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarPERCtoIND'},
					'Disaggregation': {'Func' : ''}, 														
					'Computation'	: {'Func' : 'computeVarLinScale',
									   'Comp' : {'Var_1' : 'SWI_StDev_T12', 'Var_2' : 'SWI_Mean_T12', 'Var_3' : 'SM_StDev_Layer2', 'Var_4' : 'SM_Mean_Layer2',},									
									},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	

		'SWI_Value_T32'		: { 	
            'VarType'	 	: 'Grid',
            'VarTimeStep' 	: 86400,
            'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Soil Water Index filtering on a 32 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'soil_water_index_32_days',
                'grid_mapping' 	: 'lon lat',
                'coordinates' 	: 'crs',
                'cell_method' 	: 'time: istantaneous',
                'units' 		: '%',
                'pressure_level': '',
						    },
			'VarSource' 	: 'HSAF_SWI_H16_RAW_$DOMAIN_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
			    'Op_GetEx'      : {	
					'Func' 			: '',
					'Name'			: {},
					'Comp'			: {}, 
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
								},
			    'Op_Load'       : {	
					'Func' 			: 'get2DVar',
					'Name'			: '',
					'Comp'			: {	
										'IN' : {'Var_1' : 'SWI_Value_T32'},                                                                                    
										'OUT': {'Var_1' : 'SWI_Star_T32'}, 
									},	     
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: '',
					'Missing_value'	: -9999,
					'_FillValue'	: -9999,
					'Valid_range'	: '0,100',
								},
				'Op_Save'       : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: '',
					'Format'		: '',
					'Missing_value'	: None,
					'_FillValue'	: None,
					'Valid_range'	: '',
		                        },
				'Op_Math' 		: {	
					'Interpolation' : {'Func' : 'interpVarGridNN'},           
					'Conversion'	: {'Func' : 'computeVarPERCtoIND'},
					'Disaggregation': {'Func' : ''}, 														
					'Computation'	: {'Func' : 'computeVarLinScale',
									   'Comp' : {'Var_1' : 'SWI_StDev_T32', 'Var_2' : 'SWI_Mean_T32', 'Var_3' : 'SM_StDev_Layer3', 'Var_4' : 'SM_Mean_Layer3',},									
									},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
		    		},	

            },
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic = {  
	'NetCDF'	: {

        'SWI_Star_T06'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Normalized soil water index filtering on a 6 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'normalized_soil_water_index_06_days',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '-',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,1',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SWI_Star_T12'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Normalized soil water index filtering on a 12 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'normalized_soil_water_index_12_days',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '-',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '0,1',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

        'SWI_Star_T32'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 86400,
		    'VarAttributes'	: {
                'long_name' 	: 'H07/EOPORTAL/H16 - Normalized soil water index filtering on a 32 days derived from SSM Value Metop-A/Metop-B ASCAT NRT O',
                'standard_name' : 'normalized_soil_water_index_32_days',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: 'Longitude Latitude',
                'cell_method' 	: 'time: point',
                'units' 		: '-',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_STAR_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : -9999.0,
		            '_FillValue'    : None,
		            'Valid_range'   : '0,1',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },

         'Longitude': {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'longitude coordinate',
                'standard_name' : 'longitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_east',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},					      
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },        

     	'Latitude'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'latitude coordinate',
                'standard_name' : 'latitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'degree_north',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},					        
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                        },
                    },   

 		'Terrain'	: {	
		    'VarType'		: 'Grid',
		    'VarTimeStep'	: 0,
		    'VarAttributes'	: {
                'long_name' 	: 'geometric height',
                'standard_name' : 'altitude',
                'grid_mapping' 	: 'crs',
                'coordinates' 	: '',
                'cell_method' 	: '',
                'units' 		: 'm',
                'pressure_level': '',
                            },
            'VarSource'	 	: 'HSAF_SWI_H16_$DOMAIN_$yyyy$mm$dd$HH$MM.nc', 
            'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'			: {	
                'Op_GetEx'     	: {	
	                'Func'			: '',
	                'Name'		    : '',
	                'Comp'		    : {},
	                'Zip'		    : '',
	                'ScaleFactor'   : 1,
	                'Format'	    : '',
	                'Missing_value' : None,
	                '_FillValue'	: None,
	                'Valid_range'	: '',
		                    	},
	            'Op_Load'       : {	
	            	'Func'	   		: '',
		            'Name'		    : '',
                    'Comp'		    : {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
		            'Missing_value'	: None,
		            '_FillValue'	: None,
		            'Valid_range'	: '',
                                },
	            'Op_Save'       : {	
		            'Func' 			: 'write2DVar',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: 'gz',
		            'ScaleFactor'	: 1,
		            'Format'		: 'f4',
		            'Missing_value' : None,
		            '_FillValue'    : None,
		            'Valid_range'   : '',
		                        },
	            'Op_Math'       : {	
		            'Interpolation'	: {'Func' : ''},
		            'Conversion' 	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Computation'	: {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
		                        },
                            },
                        },

		},
}                
#-------------------------------------------------------------------------------------	




